<%= form_for @message do |msg| %>

  <div class="field">
    <%= msg.label 'To' %>
    <%= msg.text_field :recipients, class: 'form-control' %>
  </div>
  <div class="field">
    <%= msg.label :subject %>
    <%= msg.text_field :subject, class: 'form-control' %>
  </div>
  <div class="field"> 
    <%= msg.label 'Message' %>
    <%= msg.text_area :body, class: 'form-control' %>
  </div>

  <div class="field">
    <%= msg.submit 'submit' %>
  </div>
<% end %>