<%= form_for @conversation do |convo| %>

  <div class="field">
    <%= convo.label 'To' %>
    <%= convo.text_field :recipients, class: 'form-control' %>
  </div>
  <div class="field">
    <%= convo.label :subject %>
    <%= convo.text_field :subject, class: 'form-control' %>
  </div>
  <div class="field">
    <%= convo.label 'Message' %>
    <%= convo.text_area :body, class: 'form-control' %>
  </div>

  <div class="field">
    <%= convo.submit '' %>
  </div>
<% end %>