<%= form_for(@user) do |f| %>
  <%= render '/shared/error_messages', object: @user %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control'%>
  </div>
  
  <!--shouldnt change password here-->
  <!--<div class="field">-->
  <!--  <%= f.label :password %>-->
  <!--  <%= f.password_field :password, class: 'form-control'%>-->
  <!--</div>-->
  <!--<div class="field">-->
  <!--  <%= f.label :password_confirmation, "Confirmation" %>-->
  <!--  <%= f.password_field :password_confirmation, class: 'form-control'%>-->
  <!--</div>-->
  <% if current_page?(edit_user_path) %>
    <div class="field">
      <%= f.submit "Save Changes", class: "btn btn-primary" %>
    </div>
  <% else %>
    <div>
      <%= f.submit 'Submit', class: 'btn btn-primary' %> 
    </div>
  <% end %>
<% end %>
